.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.project-card {
  background: var(--color-dark-primary);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  /* Hiệu ứng viền đỏ khi hover */
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: var(--color-red-accent);
}

.project-content {
  padding: 25px;
}

.project-content h3 {
  font-size: 1.6rem;
  color: var(--color-red-accent);
}

.project-content p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--color-text-secondary);
}

.project-tech-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-tech-list li {
  background-color: var(--color-dark-secondary);
  color: var(--color-red-accent);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.project-links {
  background: var(--color-dark-secondary);
  padding: 15px 25px;
  text-align: right;
  border-top: 1px solid #333;
}

.project-links a {
  color: var(--color-text-primary);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.project-links a:hover {
  color: var(--color-red-accent);
}